@using System.Web.Optimization
@{
    ViewBag.Title = "Categories";
    ViewBag.SubTitle = "Data";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <button class="btn btn-default" id="new-category-btn">
                    <i class="fa fa-plus-square"></i>
                    <span>New Category</span>
                </button>
                <button class="btn btn-default" id="refresh-btn" title="Refresh">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </div>
            <div class="box-body">
                <table id="example" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">New Category</h4>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer" id="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade sm" id="msg-modal" tabindex="-1" role="dialog" aria-labelledby="msg-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="msg-modal-label">
                    <i class="fa fa-sticky-note"></i>
                    <span>
                        Notification
                    </span>
                </h4>
            </div>
            <div class="modal-body" id="msg-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="msg-modal-body-template">
    <div class="alert">
        <strong>${Msg}!</strong>
    </div>
    
</script>

<script type="text/x-jquery-tmpl" id="modal-body-template">
    <form role="form" id="create-form">
        <div class="form-group">
            <label class="control-label" for="categoryName">Category Name: </label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Min length 10 characters">
        </div>
        <div class="form-group">
            <label class="control-label" for="categoryDescription">Desctiption</label>
            <input type="text" class="form-control" id="categoryDescription" name="categoryDescription" placeholder="Descriptions">
        </div>
    </form>
</script>

<script type="text/x-jquery-tmpl" id="modal-body-edit-template">
    <form role="form" id="edit-form">
        <div class="form-group">
            <label class="control-label" for="categoryName">Id: </label>
            <input type="text" class="form-control" id="categoryId" value="${CategoryId}" name="CategoryId" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="control-label" for="categoryName">Category Name: </label>
            <input type="text" class="form-control" id="categoryName" value="${CategoryName}" name="categoryName" placeholder="Min length 10 characters">
        </div>
        <div class="form-group">
            <label class="control-label" for="categoryDescription">Desctiption</label>
            <input type="text" class="form-control" id="categoryDescription" value="${Description}" name="categoryDescription" placeholder="Descriptions">
        </div>
    </form>
</script>

<script type="text/x-jquery-tmpl" id="modal-footer-template">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success btn-sm" id="save-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
</script>

<script type="text/x-jquery-tmpl" id="modal-footer-edit-template">
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-sm" id="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
    <button type="button" class="btn btn-danger btn-sm" id="delete-btn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
</script>



@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/table");
